<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand" id="navbar-logo"><%= image_tag 'Logo_Fengyue.svg', class: "img-fluid", alt: 'logo' %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="header-nav nav-link nav-item"><%= link_to "Home", root_path %></li>
      <li class="header-nav nav-link nav-item"><%= link_to "About", simple_pages_about_path %></li>
      <li class="header-nav nav-link nav-item"><%= link_to "Contact", simple_pages_contact_path %></li>
      <li class="header-nav nav-link nav-item"><%= link_to "Products", products_path %></li>
    </ul>
    <form class="form-inline">
      <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
      <%= form.text_field :q, id: 'q', value: params[:q], class: "search_field", placeholder: "Search for"  %>
      <%= form.submit 'Search', class:"my-2 my-sm-0 search_button"%>
    <% end %>
  </form>
  <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"nav-link") %>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to('Login', new_user_session_path, class:"nav-link") %>
    </li>
    <% end %>
  </li>
</ul>

  </div>
</nav>
