<div class="index-content">
  <div class="container">
  <div class="row">

    <div class="col-sm-12 col-lg-6 productinfo-left">
      <%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image:@product.image_url) if @product.image_url%>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>

    <div class="col-sm-12 col-lg-6 productinfo-right">
      <p class="productname-show">
        <%= @product.name %>
      </p>
      <p class="product-gallery-decription">
        <%= @product.description %>
      </p>
      <p class="text-bold">Overview</p>
      <p class="product-gallery-decription">
        Color: <%= @product.colour %>
      </p>
      <p class="product-galleryprice-tag">
        <%= number_to_currency(@product.price, :unit => "€") %>
      </p>
      <div class="star-rating">
        <p>Review score:<div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></p>
        </div>
        <% if !@product.highest_rating_comment.nil? %>
        <%= @product.highest_rating_comment.body %>
        <% end %>
      </div>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
        <div id="comment-margins">
          <%= render 'new_comment' %>
        </div>
      </div>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <div class="col-lg-12 product-comments">
        <%= render 'comments' %>
    </div>
</div>
</div>
</div>
